* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  max-width: 1280px;
  margin: auto;
}

body {
  background-color: rgb(199, 184, 253);
  font-family: Georgia;
  font-weight: bold;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgb(86, 57, 137);
  text-align: center;
}

button,
input {
  border-radius: 8px;
  border: 2px solid rgb(183, 182, 182);
  padding: 0.6em 1.2em;
  height: 2.5rem;
}

.sbarra {
  text-decoration: line-through;
}

.itemList {
  display: flex;
  align-items: center;
}

.m-1 {
  margin: 1rem 1rem;
}

.ul-list {
  line-height: 3rem;
  color: gray;
  margin: auto;
}